<!-- <h1 align="center">Todo List</h1> -->
<nav class="form-row justify-content-center text-center">
  <a
    routerLink="/board"
    routerLinkActive="active"
    type="button"
    class="btn-lg btn-block btn-primary"
    >Todo List</a
  >
  <a
    routerLink="/table"
    routerLinkActive="active"
    type="button"
    class="btn-lg btn-block btn-secondary"
    >Todo Table
  </a>
</nav>
<br />
<!-- <app-create-todo></app-create-todo> -->
<!-- <app-board></app-board> -->
<!-- <app-todo-table></app-todo-table> -->

<router-outlet></router-outlet>
